# Virtual Environment
venv/
.venv/
env/
ENV/

# Environment Variables (sensitive information)
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db
